@charset "utf-8";
/* CSS Document */

.menu li
{
    list-style-type: none;
    float: left;
    margin-left: 4px;
}
.header
{
    height: auto;
    padding: 60px;
    box-sizing: border-box;
}
a
{
    padding-top: 10px;
    font-size: 20px;
    color:#777777;
    text-decoration: none;
    font-family :Poppins, sans-serif;
}
.title
{
    font-size:14px;
    color:#777777;
    font-family :Poppins, sans-serif;
}
.navigation .menu li
{
    margin-left: 30px;
}
.contact-us .menu li
{
    margin-left: 12px;
}
.logo
{
    margin-left: 30px;
}
.about
{
    background-color: #fff0dd;
    height: auto;
    display: block;
    padding: 70px;
    box-sizing: border-box;
    margin: auto auto;
}

.about-content img
{
    display: block;
    margin: auto auto;
}
.about-content p
{
    padding: 35px;
    box-sizing: border-box;
    margin-top: 10px;
    text-align: center;
    color:#555555;
    font-size:20px;
    font-family:Poppins, sans-serif;
    font-weight:400;
}
.name
{
     margin-top: 10px;
    color:#000000;
    font-size:18px;
    font-family:Poppins, sans-serif;
    text-align: center;
}
.occup
{
    text-align: center;
    margin-top: 10px;
    color:#777777;
    font-size:16px;
    font-family:Poppins, sans-serif;
}
.footer
{
    height: auto;
    padding: 60px;
    box-sizing: border-box;
}
.footer-data
{
    margin: 0 auto;
}
.menu a
{
    text-decoration: none;
    color: black;
}
.menu a:hover
{
    background: #7f4cff;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    box-sizing: border-box;
}
.caption
{
    margin-top: 10px;
    text-align: center;
}
img
{
    display: block;
    margin: auto auto;
    transition: all 1s;
}
.image img:hover
{
    opacity: 0.3;
    transform: rotate(5deg);
}